body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
}
.half-width img{
    width: 100%;
    border-radius: 15px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top-banner1{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}